<%- include ("partials/header") -%>
<!-- Title -->
<div class = "row" >
    <div class = "col-md-6">
        
<a href="/blogpostmain"><h1>Lukount : una empresa creada durante la pandemia.</h1></a>
<a class="leer" href="/blogpostmain"><p style="color: #4475DF">Leer más   <img src="images/arrow.svg" alt="arrow" class=""></p></a>


    </div>

    <div class = "col-md-6">
<a href="/blogpostmain"><img class = "title-img" src="https://www.susla.edu/assets/susla/images/AccountingImage.png" alt="blog_img"></a>
</div>
</div>
</div>
</section>

<section id="recientes">
    <div class="container-fluid">
<h2>Recientes</h2>
<div class="row">

    <%  posts.slice().reverse().forEach(function(post){ %>
<div class="blog-column col-md-4">
    <div class="card-content">
        <a href="/post/<%=post._id%>"><img class = "blog-img "src="<%=post.image%>" alt="blog_img"></a>
        <div class="card-desc">
            
            <a href="/post/<%=post._id%>"><h3><%= post.title %> </h3></a>

            <a href="/post/<%=post._id%>"><p class="cardp"><%=post.subtitle%> </p></a>
            <!-- .substring(0, 100) + " ..."  -->
            
        </div>
    </div>
</div>
<% }) %>



</div>
<!-- <h3 class="buscar">Buscar más  <i class="fa fa-chevron-down"></i></span></h3>  -->
</div>
</section>




    <%- include ("partials/footer") -%>
