<%- include ("partials/header") -%>

<section id="blogPost">
    <div class="container-fluid postheaderdiv">

        <!-- <div class="col-md-2">
           
        </div> -->

        
            <h1 class="postheader"> <%=title%> </h1>
        </div>
    </section>
            <div class="metapic row">
                <div class="col-lg-10">
                    <img src="/uploads/<%=image%>" class="blogPostImage img-fluid" alt="post_image">
                </div>
                <div class="col-lg-2 metainfo ">
                    <div class="publicado">
                    <h3>Publicado</h3>
                    <p><%=date%></p>
                </div>
                    <hr>
                    <div class="escritor">
                    <h3>Escritor</h3>
                    <p><%=writer%> </p>
                </div>
                    <hr>

                    <div class="compartir">
                        <h3>Compartir</h3>

                        <div class="compartir-socmed">

                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <!-- <div class="compartir-socmed-icon addthis_inline_share_toolbox"> -->
                    <a href="http://www.facebook.com/share.php?u=https://stormy-sands-33699.herokuapp.com/post/<%=title%>" onclick="return fbs_click()" target="_blank"><i class="socmed fab fa-facebook-f"></i></a>
                    <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://stormy-sands-33699.herokuapp.com/post/<%=title%>"><i class="socmed fab fa-linkedin-in"></i></a>
                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw"><i class="socmed fab fa-twitter"></i></a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            
                        </div>
                        
                    </div>
                </div>
                <hr class="hr-mobile">

            

<div class="content container-fluid">
        <%- content %>
        </div>
            <div class="compartir-mobile">
                <h3>Compartir</h3>

                <div class="compartir-socmed justify-content-center">

                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                    <!-- <div class="compartir-socmed-icon addthis_inline_share_toolbox"> -->
                        <a href="http://www.facebook.com/share.php?u=https://stormy-sands-33699.herokuapp.com/post/<%=title%>" onclick="return fbs_click()" target="_blank"><i class="socmed fab fa-facebook-f"></i></a>
                        <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://stormy-sands-33699.herokuapp.com/post/<%=title%>"><i class="socmed fab fa-linkedin-in"></i></a>
                        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw"><i class="socmed fab fa-twitter"></i></a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
            </div>
        </div>
</section>


</div>

<script>

document.querySelectorAll('.content a')
  .forEach(function(elem) {
    elem.setAttribute('target', '_blank');

    
  }) 

</script>
<%- include ("partials/footer") -%>