<%- include ("partials/header") -%>

<section id="blogPost">
<div class="container.fluid row">

<div class ="col-md-2">
    <div class="metainfo">

    <h3>Publicado</h3>
<p class = "pgen"></p>
<hr>
<h3>Escritor</h3>
<p class = "pgen"><%=writer%> </p>
<hr>
<h3>Compartir</h3>

<div class="socmed">
<i class="socmed fab fa-facebook-f"></i>
    <i class="socmed fab fa-linkedin-in"></i>
    <i class="socmed fab fa-twitter"></i>
</div>
</div>
</div>

<div class ="col-md-10">
    
    <h1 class= "postheader"> <%=title%> </h1>
<img src= "/uploads/<%=image%>" class="blogPostImage" alt="post_image">


<p class="postContentp"><%- content %> </p>
</div>
</div>
</section>


</div>
</section>

<%- include ("partials/footer") -%>
