<%- include ("partials/header") -%>

<img class = "title-img" src="images/blog_img.svg" alt="blog_img">

<section id="blogPost">
<div class="container.fluid row">

<div class ="col-md-2">
    <div class="metainfo">

    <h3>Publicado</h3>
<p class = "pgen"> </p>
<hr>
<h3>Escritor</h3>
<p class = "pgen"><%=writer%> </p>
<hr>
<h3>Compartir</h3>

<div class="socmed">
<i class="socmed fab fa-facebook-f"></i>
    <i class="socmed fab fa-instagram"></i>
    <i class="socmed fab fa-twitter"></i>
</div>
</div>
</div>

<div class ="col-md-10">
    
    <!-- Problem : why image not showing up? -->

<!-- <img src= " " class="blogPostImage" alt="post_image"> -->

<h1 class= "postheader"> <%=title%> </h1>
<p class="postContentp"><%- content %> </p>
</div>
</div>
</section>


</div>
</section>

<%- include ("partials/footer") -%>
