<%- include ("partials/header") -%>

<section id="blogPost">
    <div class="container-fluid fullpost">

        <!-- <div class="col-md-2">
           
        </div> -->


            <h1 class="postheader"> <%=title%> </h1>

            <div class="metapic row">
                <div class="col-lg-10">
                    <img src="/uploads/<%=image%>" class="blogPostImage img-fluid" alt="post_image">
                </div>
                <div class="metainfo col-lg-2" id="metainfo">
                    <div class="publicado">
                    <h3 class="metah3">Publicado</h3>
                    <p class="pgen"><%=date%></p>
                </div>
                    <hr class="metainfo-hr">
                    <div class="escritor">
                    <h3 class="metah3">Escritor</h3>
                    <p class="pgen"><%=writer%> </p>
                </div>
                    <hr class="metainfo-hr">

                    <div class="compartir">
                        <h3 class="metah3">Compartir</h3>

                        <div class="compartir-socmed">

                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="compartir-socmed-icon addthis_inline_share_toolbox"></div>
            
                        </div>
                    </div>
                </div>

                

                
            </div>

<div class="content">
            <p class="postContentp"><%- content %> </p>
        </div>
            <div class="compartir-mobile">
                <h3 class="metah3">Compartir</h3>

                <div class="compartir-socmed">
                    <div class="compartir-socmed-icon addthis_inline_share_toolbox"></div>

                </div>
            </div>
        </div>
</section>


</div>
</section>

<%- include ("partials/footer") -%>